.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5%;
    background-color: rgb(220, 212, 235);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.left-side {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo {
    width: 75px;
    height: 60px;
    border-radius: 50%;
}

@media (min-width: 900px) {
    .logo {
        width: 150px;
        height: 120px;
    }
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
    }

    .left-side {
        width: 100%;
        justify-content: center;
        margin-bottom: 10px;
    }

    .logo {
        position: static;
        margin: 0 auto;
        width: 60px;
        height: 50px;
    }

    .middle {
        width: 100%;
        justify-content: center;
        margin-bottom: 10px;
    }

    .nav-name {
        text-align: center;
    }

    .nav {
        width: 100%;
        display: flex;
        flex-wrap: nowrap; /* no wrapping */
        justify-content: center;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
    }

    .nav::-webkit-scrollbar {
        display: none;
    }

    .nav-button {
        white-space: nowrap;
        flex-shrink: 0;
        margin: 5px;
        font-size: 1.2rem;
    }
}

.logo:hover {
    box-shadow: 5px 5px 5px rgba(1,1,1,1);
    border-width: 1px;
    border-style: solid;
    z-index: 2;
}

.logo:active {
    border-color: black;
    background-color: rgb(163, 145, 197);
}

.middle {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.nav-name {
    font-family: Bigshot One;
    padding-right: 5px;
    font-size: clamp(1.5rem, 4vw, 3rem)
}

.nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-button {
    font-family: "Bigshot One", serif;
    font-size: clamp(1rem, 2.5vw, 2rem);
    padding: 20px 35px;
    border: none;
    border-radius: 15px;
    background-color: rgb(220, 212, 235);
    transition: .15s;
    margin-right: 5%;
}

.nav-button:hover {
    border: 2px solid black;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(1,1,1,1);
    transform: skewX(-10deg);
}

.nav-button:active {
    background-color: rgb(163, 145, 197);
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}