.home-main {
    display: grid;
    grid-template-columns: 2fr 3fr;
}

.name-mobile,
.rotate-mobile,
.scroll-down-mobile,
.intro-mobile {
    display: none;
}

.home-img {
    display: flex;
    flex-direction: column;
}

.headshot {
    width: clamp(150px, 24vw, 400px);
    height: clamp(150px, 27vw, 550px);
    border-radius: 50%;
    object-fit: cover;
    align-self: center;
    margin-top: 10px;
}

.info {
    background-color: rgb(235, 230, 245);
    border-radius: 10px;
    width: 80%;
    align-self: center;
    padding-left: 20px;
    margin-bottom: 10px;
}

.ed,
.loc,
.maj,
.cal {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ed-img,
.loc-img,
.books-img {
    width: 40px;
    height: 40px;
}

.plane-img {
    padding-left: 10px;
    width: 40px;
    height: 40px;
}

.cal-img {
    width: 35px;
    height: 35px;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 60px;
    margin-right: 100px;
}

.info-linkedin {
    width: 45px;
    border-radius: 5px;
    margin-left: 30px;
}

.info-github {
    width: 57px;
    border-radius: 5px;
    margin-left: 30px;
}

.info-gmail {
    width: 80px;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: -5px;
}

.school,
.location,
.major,
.calendar {
    margin-left: 10px;
}

.about {
    margin-top: -4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5%;
    padding: 0 1rem; 
}

.scroll-down {
    box-sizing: content-box;
    max-width: 300px;
    width: 80%;
    height: auto;
    border: none;
    background-color: rgb(235, 230, 245);
    border-radius: 20px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 1rem;
    padding-top: 5px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid rgb(127, 92, 152);
    margin-top: 4%;
}

.scroll-down:hover,
.link-button:hover {
    cursor: pointer;
    background-color: rgb(187, 167, 223);
}

.scroll-down:active,
.link-button:active {
    background-color: rgb(127, 92, 152);
}

.down {
    margin-top: -10px;
    width: 50px;
    height: auto;
}

.name {
    font-weight: 450;
    font-size: clamp(2rem, 12vw, 90px);
    text-align: center;
}

.rotate {
    margin-top: -3rem;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    height: 50px;
    width: 100%;
    line-height: 50px;
    font-size: clamp(1.2rem, 5vw, 45px);
    text-transform: uppercase;
    overflow: hidden;
    position: relative; 
}

.window {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    animation: slide 25s linear infinite;
}

@keyframes slide {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

.programmer {
    color: green;
}

.researcher {
    color: blue;
}

.musician {
    color: red;
}

.engineer {
    color: brown;
}

.student {
    color: purple;
}

.builder {
    color: rgb(113, 113, 3);
}

.trombonist {
    color: rgb(255, 140, 0);
}

.explorer {
    color: gray;
}

.intro {
    font-size: clamp(1rem, 3vw, 25px);
    text-align: center;
}

.abt-button {
    font-size: 30px;
}

.about-me {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    margin-left: 10%;
}

.abt-title {
    text-decoration: underline;
    font-size: 50px;
}

.bio{
    font-size: clamp(1rem, 3vw, 25px);
    text-align: center;
    margin-top: 0;
}

.link-button {
    box-sizing: content-box;
    max-width: 300px;
    width: 90%;
    height: auto;
    background-color: rgb(235, 230, 245);
    border-radius: 20px;
    padding: 1rem;
    padding-top: 5px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid rgb(127, 92, 152);
    margin-bottom: 20px;
}

#abt {
  scroll-margin-top: 175px;
}

@media (max-width: 480px) {
    .home-main {
        display: flex;
        flex-direction: column;
        grid-template-columns: none;
    }

    .name-mobile {
        display: unset;
        align-self: center;
        margin-bottom: 0;
        margin-top: 10px;
    }

    .rotate-mobile {
        display: unset;
        margin-top: 5px;
        border-top: 3px solid black;
        border-bottom: 3px solid black;
        height: 50px;
        width: 85%;
        margin-left: 7.5%;
        line-height: 50px;
        font-size: clamp(1.2rem, 5vw, 45px);
        text-transform: uppercase;
        overflow: hidden;
        position: relative; 
    }

    .name,
    .rotate,
    .scroll-down,
    .intro {
        display: none;
    }

    .info {
        margin: 0;
        font-size: 14px;
    }

    .links {
        margin: 0;
    }

    .info-linkedin {
        width: 30px;
        border-radius: 5px;
    }

    .info-github {
        width: 40px;
        border-radius: 5px;
    }

    .info-gmail {
        width: 50px;
        border-radius: 5px;
    }

    .scroll-down-mobile {
        box-sizing: content-box;
        max-width: 300px;
        width: 40%;
        height: auto;
        background-color: rgb(235, 230, 245);
        border-radius: 20px;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        border: 3px solid rgb(127, 92, 152);
        margin-top: -125px;
        margin-bottom: 20px;
    }

    .down {
        margin-top: -10px;
        width: 25px;
        height: auto;
    }

    .abt-button {
        font-size: 20px;
        margin-top: 5px;
    }

    .abt-title {
        margin-top: -100px;
        margin-bottom: 10px;
    }

    .intro-mobile {
        display: block;
        font-size: clamp(1rem, 3vw, 25px);
        text-align: center;
        margin-top: 0;
    }

    .home-img {
        min-height: 100vh;
    }

    .info {
        margin-bottom: 15px;
    }
    .abt-title {
        margin-top: -75px;
    }
}